
{% extends 'base.html' %}
{% load static %}
{% block content %}
<form action=" " id="manage-project" method="POST">
	{% csrf_token %}
	<div class="col-lg-12">
		<div class="card card-outline card-primary">
			<div class="card-body">
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<label for="" class="control-label">Name</label>
								<!-- <input type="text" class="form-control form-control-sm" name="name" value="name"> -->
								{{form.name}}
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label for="">Status</label>
								{{form.status}}
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
						<div class="form-group">
						<label for="" class="control-label">Start Date</label>
						<!-- <input type="date" class="form-control form-control-sm" autocomplete="on" name="start_date" value=""> -->
						{{form.start_date}}
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
						<label for="" class="control-label">End Date</label>
						<input type="date" class="form-control form-control-sm" autocomplete="on" name="end_date" value="">
						<!-- {{form.end_date}} -->
						</div>
					</div>
					</div>
					<div class="row">
						<!-- check if login type 1 -->
					<div class="col-md-6">
						<div class="form-group">
						<label for="" class="control-label">Project Manager</label>
						{{form.users}}
						</div>
					</div>
			
					<input type="hidden" name="manager_id" value="manager_id">
			
					<div class="col-md-6">
						<div class="form-group">
						<label for="" class="control-label">Project Team Members</label>
						{{form.users}}
						</div>
					</div>
					</div>
					<div class="row">
						<div class="col-md-10">
							<div class="form-group">
								<label for="" class="control-label">Description</label>
								<!-- <textarea name="description" id="" cols="30" rows="10" class="summernote form-control">
								</textarea> -->
								{{form.description}}
							</div>
						</div>
					</div>
			</div>
			<div class="card-footer border-top border-info">
				<div class="d-flex w-100 justify-content-center align-items-center">
					<button type="submit" class="btn btn-primary">save</button>
					<!-- <button class="btn btn-flat  bg-gradient-primary mx-2" form="manage-project">Save</button> -->
					<!-- <button class="btn btn-flat bg-gradient-secondary mx-2" type="button" onclick="location.href='#' ">Cancel</button> -->
				</div>
			</div>
		</div>
	</div>
</form>
<!-- <script>
	$('#manage-project').submit(function(e){
		e.preventDefault()
		start_load()
		$.ajax({
			url:'ajax.php?action=save_project',
			data: new FormData($(this)[0]),
		    cache: false,
		    contentType: false,
		    processData: false,
		    method: 'POST',
		    type: 'POST',
			success:function(resp){
				if(resp == 1){
					alert_toast('Data successfully saved',"success");
					setTimeout(function(){
						location.href = 'index.php?page=project_list'
					},2000)
				}
			}
		})
	})
</script> -->

{% endblock %}